<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Credit Card transactions history</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Pay My Buddy</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">


            <div class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <h3 class="">My credit card transactions<br></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 bg-success">
                            <h6 class="text-center">Card number<br></h6>
                        </div>

                        <div class="col-md-3 bg-success">
                            <h6 class="text-center">Amount<br></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="container">
                    <div class="row" data-th-each="transaction : ${ creditCardTransactions }">
                        <div class="col-md-3 text-center" data-th-text="${ transaction.cardNumber }"></div>
                        <div class="col-md-3 text-center"
                             data-th-text="${#numbers.formatDecimal(transaction.amount,2,2) + ' ' + transaction.currencyCode}"></div><br><br>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <span>Send money to your Pay My Buddy account with one of your credit cards ? <a href="/" th:href="@{/creditCardTransaction}">Click here</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>