<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Add contact</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/transaction}">Send Money</a></li>
        <li sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/fundAccount}">Fund my account</a></li>
        <li sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/contacts}">Contacts</a></li>
        <li sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<br><br><br>

<div class='col-xs-3'>
  <button type="button" class="btn btn-success">
    <h3>
      Pay My Buddy
    </h3>
  </button>
</div>
<!-- Create HTML registration form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully added
          a new contact!</div>
      </div>

      <h1>Add a new contact</h1>

      <form th:action="@{/addContact}" method="post" th:object="${contact}">


        <div th:if="${param.error}">
          <div class="alert alert-danger">
            <tr th:if="${errors.isEmpty()}">An error occurred</tr>
            <ul>
              <li th:each="error, stat : ${errors}" th:text="${error.defaultMessage}" class="error"/>
            </ul>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label" for="email"> Email </label> <input
                id="email" class="form-control" th:field="*{email}" required
                autofocus="autofocus" />
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-success">Add contact</button> <a th:href="@{/contacts}">Go back to contact list</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>